/*--------------------------------CsReset------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

html, body {
    height: 100%;
}

/*--------------------------------Header------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    padding-left: 20px;
    /*border-bottom: 3px solid rgb(52, 156, 207);*/
}
/*--------------------------------Container------------------------------------*/
.container {
    display: flex;
    padding-top: 25px;
    flex-direction: row-reverse;

}

/*--------------------------------Principal------------------------------------*/
.principal {
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 6;
    width: 50%;
}


.thank {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: 10;
    width: 100%;
}

.row {
	flex-direction: 20;
}


.principal h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.principal p {
    font-size: 1em;
    text-align: center;
}

/*-----Form-----*/

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

#f_input {
    display: flex;
    margin-top: 2rem;
}

#f_name {
    width: 44%;
    flex-grow: 1;
    margin-right: 3px;
    border: 1px solid;
    font-size: 16px;
    padding: 5px;
}

#f_mail {
    width: 44%;
    flex-grow: 1;
    margin-left: 3px;
    border: 1px solid;
    font-size: 16px;
    padding: 5px;
}

#f_enviar, .botao {
    padding-top: 13px;
    border: rgb(52, 156, 207);
    border-radius: 10px;
    /*background-color: rgb(52, 183, 177);*/
    background-color: #27AAE1;
    color: #fff;
    font-size: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.linkbtn:hover > .botao, #f_enviar:hover {     
    background-color: rgb(52, 156, 207);
}

/*-----Dicas-----*/
.dicas {
    display: flex;
    justify-content: space-around;
}

.dicas .item1, .item2, .item3 {
    width: 125px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.dicas p {
    font-size: 0.9em;
}

.main_header_nav_logo {
    flex-basis: 20%;
    padding: 1rem;
}

.main_header_nav_logo img {
    max-width: 240px;
    padding: 1.5rem;
}

.tagline {
    color: #27AAE1;
    font-size: 1.5em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tag_thank .h1 strong {
    font-size: 1.8em;
}

/*--------------------------------Secundaria------------------------------------*/
.secundaria {
    flex-grow: 4;
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*---------------------------------Footer-----------------------------------*/


footer ul {
    display: flex;
    justify-content: center;
}

footer p {
    display: flex;
    color: #FFF; 
    justify-content: flex-end;
}


footer {
    background-color: #1F7FA0;
    padding: 10px ;
}

.img_mail {
    padding-left: 1em;
}

/*---------------------------------Principal2-----------------------------------*/

.principal2 {
    padding-top: 20%;
    padding-bottom: 20%;
}

.principal2 h1 {
    font-size: 3em;
    text-align: center;
}

.principal2 p {
    text-align: center;
}


/*----------Media------*/
@media (max-width: 1000px) {
    header {
        margin-top: 5%;
        margin-bottom: 13%;
    }

    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .principal {
        width: 96%;
        padding: 0 2% 0 2%;
    }
    
    .secundaria {
        width: 96%;
        padding: 0 2% 0% 2%;
        margin-bottom: 10%;
    }

    #f_input {
        flex-direction: column;
    }

    #f_name, #f_mail, #f_enviar{
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 0 0 8px 0;
    }
    
    .dicas {
        padding-top: 15px;
    }

    footer p {
        display: flex;
        color: #FFF; 
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .dicas .item1, .item2, .item3 {
        width: 80px;
    }

    .img_mail {
        min-width: 50px;
        padding-left: 0.5em;
    }
}
