/*--------------------------------CssReset------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

html, body {
    height: 100%;
}

/*--------------------------------Header------------------------------------*/
