/*--------------------------------CsReset------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

html, body {
    height: 100%;
}

body {
    position: relative;
}

/*--------------------------------Header------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-height: 5%;
    padding-left: 20px;
    /*border-bottom: 3px solid rgb(52, 156, 207);*/
    margin-top: 1%;
    margin-bottom: 1%;
}

.p-1 {
    color: #2E2E2E;
}

.p-1 i {
    font-size: 30px;
}

.line {
    width: 30px;
    border: 1px solid #6F6F6F;
    transform: rotate(90deg);
    align-self: center;
}

.line2 {
    width: 30px;
    border: 1px solid #6F6F6F;
    transform: rotate(90deg);
    align-self: center;
    display: none;
}

.p-2 {
    color: #2E2E2E;
    display: none;
}

.p-2 i {
    font-size: 30px;
}

#redes {
    display: flex;
}

/*--------------------------------Container------------------------------------*/
.container {
    display: flex;
    flex-direction: row-reverse;

}

main {
    max-height: 90%;
}

/*--------------------------------Principal------------------------------------*/
.principal {
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 6;
    width: 60%;
}


.thank {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: 10;
    width: 100%;
}

.row {
	flex-direction: 20;
}


.principal h1 {
    /*max-width: 716px;*/
    width: 100%;
    /*max-height: 130px;*/
    /*margin-top: 15px;*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1F7FA0;

    margin-bottom: 3%;
}

.tagline {
    /*max-width: 630px;*/]
    width: 100%;
    /*max-height: 44px;*/
    /*margin-top: 30px;*/

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #27AAE1;

    margin-bottom: 3%;
}

.p_text {
    /*max-width: 626px;*/
    width: 100%;
    /*max-height: 213px;*/

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 24px;
    text-align: justify;

    color: #292929;

    margin-bottom: 3%;
}

/*-----Form-----*/

form {
    display: flex;
    flex-wrap: nowrap;
    /*width: 634px;*/
    width: 100%;
    /*height: 150px;*/
    flex-direction: column;
}

#f_input {
    display: flex;
    /*margin-top: 20px;*/
    justify-content: space-between;

    margin-bottom: 5%;
}

#f_name, #f_mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    padding: 5px 0 5px 10px;

    width: 48%;
    /*height: 39px;*/

    background: #FFFFFF;
    border: 1px solid #2E2E2E;
    box-sizing: border-box;
    border-radius: 5px;

    
}

#f_enviar, .botao {
    /*max-width: 628px;*/
    max-height: 77px;
    margin: 10px 0 5px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 42px;
    text-transform: uppercase;

    background: #27AAE1;
    border-radius: 5px;

    color: #FFFFFF;

    margin-bottom: 5%;
}

.linkbtn > .botao, #f_enviar {     
    background-color: #27AAE1;
    /**background-color: rgba(52, 156, 207, 0.5);**/
}

.linkbtn:hover > .botao, #f_enviar:hover {     
    background-color: rgb(52, 156, 207);
}

/*-----Dicas-----*/
.dicas {
    display: flex;
    justify-content: space-around;

    width: 100%;
    /*height: 120px;*/

    margin-top: 3%;
    margin-bottom: 3%;
}

.dicas .item1, .item2, .item3 {
    width: 13%;
    height: 13%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.dicas p {
    width: 200px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 22px;
    align-self: center;
    

    color: #000000;
}

.main_header_nav_logo {
    flex-basis: 20%;
    padding: 1rem;
}

.main_header_nav_logo img {
    max-width: 263px;
    padding: 1.5rem;
}

.tag_thank .tagline h1 {
    font-size: 1.8rem;
}

/*--------------------------------Secundaria------------------------------------*/
.secundaria {  
    flex-grow: 4;
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img_sec {
    max-width: 441px;
    max-height: 543px;
}

/*---------------------------------Footer-----------------------------------*/

footer {
    background-color: #1F7FA0;
    max-height: 5%;
    width: 100%;

    z-index: 1;
    position: fixed;
    bottom: 0%;

}

footer p {
    display: flex;
    color: #FFF; 
    justify-content: flex-end;
    padding-top: 1rem;
}

.img_mail {
    padding-left: 1em;
}

/*---------------------------------Principal2-----------------------------------*/

.principal2 {
    padding-top: 20%;
    padding-bottom: 20%;
}

.principal2 h1 {
    font-size: 3rem;
    text-align: center;
}

.principal2 p {
    text-align: center;
}


/*----------Media------*/
@media (max-width: 1400px) {
    .principal h1 {
        font-size: 2rem;
    }

    p {
        margin-bottom: 0;
    }

    .tagline {
        margin-bottom: 1%;
    }

    .dicas {
        margin-top: 1.5%;
        margin-bottom: 4%;
    }

    #f_enviar, .botao {
        margin-bottom: 2.5%;
    }

    #f_input {
        margin-bottom: 2.5%;
    }
}

@media (max-width: 1200px) {
    .img_sec {
        max-width: 400px;
        max-height: 500px;
    }

    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .img_sec {
        display: none;
    }

    #f_input {
        flex-direction: column;
        align-items: center;
    }

    #f_name, #f_mail, #f_enviar{
        width: 100%;
        margin: 0 0 2.5% 0;
    }

    .dicas {
        flex-direction: column;
        padding-top: 15px;
        align-items: center;
    }

    .item1, .item2, .item3 {
        margin-bottom: 2.5%;
    }

    #rodape-sm {
        display: none;
    }

    .main_header_nav_logo {
        margin-top: 1rem;
    }

    .p-1 {
        color: #1F7FA0;
    }

    #redes {
        position: absolute;
        top: 2rem;
    }

    .principal {
        margin-top: 2rem;
    }
}

@media (max-width: 1100px) {
    #header {
        display: block;
        text-align: center;
    }

    .main_header_nav_logo {
        margin: 0;
        padding: 0;
    }

    #main {
        display: block;
        margin-top: 3%;
        padding: 0 5% 0 5%;
    }

    .principal {
        width: 100%;
        padding: 0;
    }

    #redes {
        display: none;
    }

    #rodape {
        display: none;
    }

    #rodape-sm {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: center;
    }

    .p-2 {
        display: block;
        margin-right: 5%;
    }

    .p-2 i {
        font-size: 22px;
        color: white;
    }

    #footer {
        height: 50px;
    }
}

@media (max-width: 420px) {
    .principal h1 {
        font-size: 1.5rem;
    }

    .tagline {
        font-size: 1rem;
    }

    .p_text {
        font-size: 0.8rem;
    }

    .dicas .item1, .item2, .item3 {
        width: 6rem;
        height: 10rem;
    }

}
